<header>
  <div class="container">
    <h1 class="page-title">Epicodus Library</h1>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href='@Url.Action("Index", "Home")'>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href='@Url.Action("Index", "Books")'>Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href='@Url.Action("Create", "Books")'>Add Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href='@Url.Action("Index", "Authors")'>Authors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href='@Url.Action("Create", "Authors")'>Add Authors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href='@Url.Action("Index", "Patrons")'>Patrons</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href='@Url.Action("Create", "Patrons")'>Add Patron</a>
      </li>
    </ul>
  </div>
</header>
